.masthead {
    height: 770px;
    position: relative;
    padding: 90px 0 180px;
}

.masthead-bg {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-blue-600);

    & img {
        width: 1920px;
        height: 810px;
        object-fit: cover;
        color: transparent;
        margin-top: -60px;
    }
}

/* animasion */
@keyframes moveTop {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.masthead-content {
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    & .masthead-left {
        flex: 0 0 auto;
        width: 50%;
        animation: moveTop 0.8s 1.6s linear forwards;

        & .masthead-title {
            font-size: 55px;
            line-height: 80px;
            font-weight: 700;
            color: var(--color-white);
        }

        & .masthead-text {
            margin-top: 13px;
            font-size: 17px;
            line-height: 36px;
            color: var(--color-white);
        }
    }
}




/* waves */
.svg-waves {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.waves {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 100%;
    max-height: 180px;
}

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}