.whyUs {
    position: relative;
    padding: 90px 0;
}

.whyUs-header {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.whyUs-content {
    display: flex;
    justify-content: center;

    & .whyUS-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;

        & .whyUS-card {
            background-color: var(--color-blue-95);
            border-radius: 10px;
            padding: 10px 0;
            width: 300px;

            & h5 {
                font-size: 17px;
            }
        }
    }
}