.Questions {
    position: relative;
    padding: 90px 0;
}

.questions{
    display: flex;
    justify-content: center;
}

.questions-content {
    width: 1290px;
    background-color: var(--color-blue-200);
    border-radius: 10px;

    & .questions-header {
        padding: 20px 10px 32px;
        color: var(--color-blue-100);
        font-size: 25px;
        border-bottom: 1px solid var(--color-white);
    }

    & .question {
        border-top: 2px solid var(--color-white);

    }
}

/* accordion sorular */
.accordion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px 10px;
    width: 100%;
    font-size: 20px;
    transition: 0.4s;
    color: var(--color-blue-600) !important;

    & h6 {
        font-size: 15px;
    }

    & span {
        font-size: 15px;
        transition: 0.3s;
    }
}

.active,
.accordion:hover {
    background-color: var(--color-blue-300);
    color: var(--color-blue-100) !important;
}

.active span i {
    rotate: -180deg;
}

/* answer panel */
.panel {
    display: none;
    background-color: #ccc;
    color: #444;
    font-weight: 600;
    padding: 15px 10px 24px 10px;
    transition:
        height 0.5s ease;
}

.panel-show {
    display: block;
}