header {
  width: 100%;
  background-color: var(--color-blue-600);
  position: fixed;
  z-index: 100;
}


.header-bottom {
  border-bottom: 1px solid hsla(0, 0%, 100%, .15);
}


.headerContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}


/* header logo */
.headerLogo {

  & a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    & img {
      width: 60px;
    }
  }
}


/* header menu */
.headerMenu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.headerMenuList {
  display: flex;
  gap: 5px;

  & li {
    padding: 17px 0;

    & a {
      display: flex;
      gap: 5px;
      align-items: center;
      padding: 7px 16px;
      border-radius: 8px;
      transition: all .2s cubic-bezier(.215, .61, .355, 1);
    }
  }

  & li:hover {

    & a {
      background-color: hsla(0, 0%, 100%, .15);
    }

    & ul {
      opacity: 1;
      pointer-events: auto !important;
    }
  }
}


/* header right */
.headerRight {
  display: flex;
  align-items: center;
  gap: 20px;

  & a {
    border-radius: 8px;
    transition: all .3s cubic-bezier(.165, .84, .44, 1);
  }
}

.blueBtn {
  display: flex;
  background-color: #ace1fa;
  border: 2px solid var(--color-white);
  padding: 6px 20px;
  font-size: 15px;
  height: 40px;
  color: var(--color-blue-600) !important;
  margin-right: 15px !important;
}

.-underline:hover {
  text-decoration: underline;
}

.hamburgerMenuBtn {
  display: none;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  gap: 10px;
}

/* subnav */
.subnav-container {
  top: 10px;
  margin-right: 60px;
  position: relative;
  display: flex;
}

.subnav {
  max-height: 500px;
  display: flex;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-white);
  border-radius: 8px;
  color: var(--color-black) !important;
  min-width: 230px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 25px 70px 0 rgba(1, 33, 58, .071);
  opacity: 0;
  pointer-events: none;
  transition: all .2s cubic-bezier(.215, .61, .355, 1);
  width: max-content;

  & li {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 7px 16px !important;

    & a {
      display: flex;
      align-items: center;

      & img {
        width: 20px;
      }
    }

    & .training-categories-header {
      border-bottom: 1px solid black;
      border-radius: 0;
      padding-bottom: 22px;
      margin-bottom: 5px;
    }

    & .training-categories-trainings,
    .training-categories-instructors {
      overflow: auto;

      & .subnav-training-list, .subnav-instructor-list {
        padding: 5px 0px !important;
      }

      & .subnav-training-list:hover, .subnav-instructor-list:hover {
        border-radius: 10px;
        background-color:#b9c7db;
      }
    }


  }
}

.subnav:before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-white);
  transform: rotate(45deg);
}







/* responsive */
@media (min-width: 1200px) and (max-width: 1399px) {
  .headerMenuList {

    & li {

      & a {
        padding: 6px;
      }
    }
  }
}

@media (max-width: 1199px) {
  .headerMenu {
    display: none;
  }

  .blueBtn {
    display: none;
  }

  .headerRight {
    gap: 10px;
  }

  .hamburgerMenuBtn {
    display: flex;
  }

}